
.WA {
	fill: #D13F46;
}

.AZ {
	fill: #D13F46;
}

.MN {
	fill: #D13F46;
}

.KY {
	fill: #D13F46;
}

.LA {
	fill: #D13F46;
}

.PA {
	fill: #D13F46;
}

.NH {
	fill: #D13F46;
}

.HI {
	fill: #D13F46;
}

.WY {
	fill: #726198;
}

.WI {
	fill: #726198;
}

.WV {
	fill: #726198;
}

.SD {
	fill: #6EAE51;
}

.OH {
	fill: #6EAE51;
}

.NJ {
	fill: #6EAE51;
}

.SC {
	fill: #6EAE51;
}

.ME {
	fill: #6EAE51;
}

.TX {
	fill: #6EAE51;
}

.ID {
	fill: #A94588;
}

.NM {
	fill: #A94588;
}

.IL {
	fill: #A94588;
}

.AL {
	fill: #A94588;
}

.MD {
	fill: #A94588;
}

.MA {
	fill: #A94588;
}

.NV {
	fill: #23A5C5;
}

.NE {
	fill: #23A5C5;
}

.AR {
	fill: #23A5C5;
}

.NC {
	fill: #23A5C5;
}

.RI {
	fill: #23A5C5;
}

.UT {
	fill: #228947;
}

.MO {
	fill: #228947;
}

.FL {
	fill: #228947;
}

.CA {
	fill: #F0A851;
}

.CO {
	fill: #F0A851;
}

.IA {
	fill: #F0A851;
}

.MS {
	fill: #F0A851;
}

.VA {
	fill: #F0A851;
}

.VT {
	fill: #F0A851;
}

.MT {
	fill: #D76940;
}

.KS {
	fill: #D76940;
}

.MI {
	fill: #D76940;
}

.MA {
	fill: #D76940;
}

.TN {
	fill: #D76940;
}

.CT {
	fill: #D76940;
}

.AK {
	fill: #D76940;
}

.OR {
	fill: #2B6AA1;
}

.ND {
	fill: #2B6AA1;
}

.OK {
	fill: #2B6AA1;
}

.IN {
	fill: #2B6AA1;
}

.GA {
	fill: #2B6AA1;
}

.NY {
	fill: #2B6AA1;
}