
.WA.state {
	fill: #D13F46;
	stroke: #D13F46;
}

.AZ.state {
	fill: #D13F46;
	stroke: #D13F46;
}

.MN.state {
	fill: #D13F46;
	stroke: #D13F46;
}

.KY.state {
	fill: #D13F46;
	stroke: #D13F46;
}

.LA.state {
	fill: #D13F46;
	stroke: #D13F46;
}

.PA.state {
	fill: #D13F46;
	stroke: #D13F46;
}

.NH.state {
	fill: #D13F46;
	stroke: #D13F46;
}

.HI.state {
	fill: #D13F46;
	stroke: #D13F46;
}

.WY.state {
	fill: #726198;
	stroke: #726198;
}

.WI.state {
	fill: #726198;
	stroke: #726198;
}

.WV.state {
	fill: #726198;
	stroke: #726198;
}

.SD.state {
	fill: #6EAE51;
	stroke: #6EAE51;
}

.OH.state {
	fill: #6EAE51;
	stroke: #6EAE51;
}

.NJ.state {
	fill: #6EAE51;
	stroke: #6EAE51;
}

.SC.state {
	fill: #6EAE51;
	stroke: #6EAE51;
}

.ME.state {
	fill: #6EAE51;
	stroke: #6EAE51;
}

.TX.state {
	fill: #6EAE51;
	stroke: #6EAE51;
}

.ID.state {
	fill: #A94588;
	stroke: #A94588;
}

.NM.state {
	fill: #A94588;
	stroke: #A94588;
}

.IL.state {
	fill: #A94588;
	stroke: #A94588;
}

.AL.state {
	fill: #A94588;
	stroke: #A94588;
}

.MD.state {
	fill: #A94588;
	stroke: #A94588;
}

.CT.state {
	fill: #A94588;
	stroke: #A94588;
}

.MA.state {
	fill: #A94588;
	stroke: #A94588;
}

.NV.state {
	fill: #23A5C5;
	stroke: #23A5C5;
}

.NE.state {
	fill: #23A5C5;
	stroke: #23A5C5;
}

.AR.state {
	fill: #23A5C5;
	stroke: #23A5C5;
}

.DE.state {
	fill: #23A5C5;
	stroke: #23A5C5;
}

.NC.state {
	fill: #23A5C5;
	stroke: #23A5C5;
}

.RI.state {
	fill: #23A5C5;
	stroke: #23A5C5;
}

.UT.state {
	fill: #228947;
	stroke: #228947;
}

.MO.state {
	fill: #228947;
	stroke: #228947;
}

.FL.state {
	fill: #228947;
	stroke: #228947;
}

.CA.state {
	fill: #F0A851;
	stroke: #F0A851;
}

.CO.state {
	fill: #F0A851;
	stroke: #F0A851;
}

.IA.state {
	fill: #F0A851;
	stroke: #F0A851;
}

.MS.state {
	fill: #F0A851;
	stroke: #F0A851;
}

.VA.state {
	fill: #F0A851;
	stroke: #F0A851;
}

.VT.state {
	fill: #F0A851;
	stroke: #F0A851;
}

.MT.state {
	fill: #D76940;
	stroke: #D76940;
}

.KS.state {
	fill: #D76940;
	stroke: #D76940;
}

.MI.state {
	fill: #D76940;
	stroke: #D76940;
}

.MA.state {
	fill: #D76940;
	stroke: #D76940;
}

.TN.state {
	fill: #D76940;
	stroke: #D76940;
}

.AK.state {
	fill: #D76940;
	stroke: #D76940;
}

.OR.state {
	fill: #2B6AA1;
	stroke: #2B6AA1;
}

.ND.state {
	fill: #2B6AA1;
	stroke: #2B6AA1;
}

.OK.state {
	fill: #2B6AA1;
	stroke: #2B6AA1;
}

.IN.state {
	fill: #2B6AA1;
	stroke: #2B6AA1;
}

.GA.state {
	fill: #2B6AA1;
	stroke: #2B6AA1;
}

.NY.state {
	fill: #2B6AA1;
	stroke: #2B6AA1;
}