
.state.WA {
	fill: #D13F46;
	stroke: #D13F46;
}

.state.AZ {
	fill: #D13F46;
	stroke: #D13F46;
}

.state.MN {
	fill: #D13F46;
	stroke: #D13F46;
}

.state.KY {
	fill: #D13F46;
	stroke: #D13F46;
}

.state.LA {
	fill: #D13F46;
	stroke: #D13F46;
}

.state.PA {
	fill: #D13F46;
	stroke: #D13F46;
}

.state.NH {
	fill: #D13F46;
	stroke: #D13F46;
}

.state.HI {
	fill: #D13F46;
	stroke: #D13F46;
}

.state.WY {
	fill: #726198;
	stroke: #726198;
}

.state.WI {
	fill: #726198;
	stroke: #726198;
}

.state.WV {
	fill: #726198;
	stroke: #726198;
}

.state.SD {
	fill: #6EAE51;
	stroke: #6EAE51;
}

.state.OH {
	fill: #6EAE51;
	stroke: #6EAE51;
}

.state.NJ {
	fill: #6EAE51;
	stroke: #6EAE51;
}

.state.SC {
	fill: #6EAE51;
	stroke: #6EAE51;
}

.state.ME {
	fill: #6EAE51;
	stroke: #6EAE51;
}

.state.TX {
	fill: #6EAE51;
	stroke: #6EAE51;
}

.state.ID {
	fill: #A94588;
	stroke: #A94588;
}

.state.NM {
	fill: #A94588;
	stroke: #A94588;
}

.state.IL {
	fill: #A94588;
	stroke: #A94588;
}

.state.AL {
	fill: #A94588;
	stroke: #A94588;
}

.state.MD {
	fill: #A94588;
	stroke: #A94588;
}

.state.CT {
	fill: #A94588;
	stroke: #A94588;
}

.state.MA {
	fill: #A94588;
	stroke: #A94588;
}

.state.NV {
	fill: #23A5C5;
	stroke: #23A5C5;
}

.state.NE {
	fill: #23A5C5;
	stroke: #23A5C5;
}

.state.AR {
	fill: #23A5C5;
	stroke: #23A5C5;
}

.state.DE {
	fill: #23A5C5;
	stroke: #23A5C5;
}

.state.NC {
	fill: #23A5C5;
	stroke: #23A5C5;
}

.state.RI {
	fill: #23A5C5;
	stroke: #23A5C5;
}

.state.UT {
	fill: #228947;
	stroke: #228947;
}

.state.MO {
	fill: #228947;
	stroke: #228947;
}

.state.FL {
	fill: #228947;
	stroke: #228947;
}

.state.CA {
	fill: #F0A851;
	stroke: #F0A851;
}

.state.CO {
	fill: #F0A851;
	stroke: #F0A851;
}

.state.IA {
	fill: #F0A851;
	stroke: #F0A851;
}

.state.MS {
	fill: #F0A851;
	stroke: #F0A851;
}

.state.VA {
	fill: #F0A851;
	stroke: #F0A851;
}

.state.VT {
	fill: #F0A851;
	stroke: #F0A851;
}

.state.MT {
	fill: #D76940;
	stroke: #D76940;
}

.state.KS {
	fill: #D76940;
	stroke: #D76940;
}

.state.MI {
	fill: #D76940;
	stroke: #D76940;
}

.state.MA {
	fill: #D76940;
	stroke: #D76940;
}

.state.TN {
	fill: #D76940;
	stroke: #D76940;
}

.state.AK {
	fill: #D76940;
	stroke: #D76940;
}

.state.OR {
	fill: #2B6AA1;
	stroke: #2B6AA1;
}

.state.ND {
	fill: #2B6AA1;
	stroke: #2B6AA1;
}

.state.OK {
	fill: #2B6AA1;
	stroke: #2B6AA1;
}

.state.IN {
	fill: #2B6AA1;
	stroke: #2B6AA1;
}

.state.GA {
	fill: #2B6AA1;
	stroke: #2B6AA1;
}

.state.NY {
	fill: #2B6AA1;
	stroke: #2B6AA1;
}