svg {
  border: 1px solid #f0f;
}

.hexagon {
	fill: white;
	pointer-events: all;
}

.hexagon :hover {
	fill: pink;
}

.hexagon .fill {
	fill: steelblue;
}

.hexMesh {
	fill: none;
	stroke: #000;
	stroke-opacity: 0;
	pointer-events: none;
}

.districtBorder {
	fill: none;
	stroke: #000;
	stroke-width: 1px;
	stroke-opacity: .2;
	pointer-events: none;
}

.stateBorder {
	fill: none;
	stroke: #000;
	stroke-width: 2px;
	pointer-events: none;
}