.top {
    position: absolute;
    left:0; right:0;
    height: 92px;
    margin-left: 15px;
    font-family: 'Helvetica Neue';
    font-weight: bold;
}

.left {
    position: absolute;
    left:0; top:80px; bottom: 0;
    width: 178px;
    margin-left: 15px;
}

.main {
    position: relative;
    left:180px; top:92px; right:0; bottom:0;
}

.right {
	position: relative;
	background: #fff;
	top: -656px;
	left: 1200px;
	width: 178px;
}

.map {
	position: relative;
	top: -60px;
}

.legend {
	position: relative;
	top: -6px;
	height: 220px;
	border: solid black;
	padding: 5px;
	padding-top: 10px;
	display: block;
	font-family: "Helvetica Neue";
	stroke-width: 2px;
	display: none;
}

.bernieLegend {
	position: relative;
	top: -6px;
	height: 220px;
	border: solid black;
	padding: 5px;
	padding-top: 10px;
	display: block;
	font-family: "Helvetica Neue";
	stroke-width: 2px;
	display: none;
}

.voteSelector {
	position: relative;
	height: 302px;
	border: solid black;
	padding: 5px;
	display: block;
	font-family: "Helvetica Neue";
	stroke-width: 2px;
	background: #fff;
	overflow: scroll;
	display: block;
}

.voteSelector text {
	position: relative;
	text-align: center;
	display: block;
	border-bottom: thin solid black;
	padding: 10px 30px 10px 30px;
	font-weight: bold;
	font-family: 'Helvetica Neue';
}

.buttonDiv {
	padding: 5px 5px 5px 5px;
	font-family: "Helvetica Neue";

}

.voteLegend {
	position: relative;
	top: -3px;
	height: 120px;
	border: solid black;
	padding: 5px;
	padding-top: 10px;
	display: block;
	font-family: "Helvetica Neue";
	stroke-width: 2px;
	display: none;
}

.nytimesLogo {
	position: relative;
	top: -3px;
}

.passage {
  width: 130px;
  height: 40px;
}

.sidebar {
	border: solid black;
	padding: 5px;
	font-family: 'Helvetica Neue';
}

.sidebar text{
	position: relative;
	text-align: center;
	display: block;
	border-bottom: thin solid black;
	padding: 10px 30px 10px 30px;
	font-weight: bold;
	font-family: 'Helvetica Neue';
}

.whichState {
	font-weight: bold;
}

.whichDistrict {
	font-weight: bold;
}

.typeToggle {
	font-family: 'Helvetica Neue';
	padding: 3px;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

.information {
	position: relative;
	top: -3px;
	border: solid black;
	padding: 5px;
	font-family: 'Helvetica Neue';
	display: block;
}

.toggleSideBar {
	position: relative;
	top: -3px;
	border: solid black;
	padding: 5px;
	font-family: 'Helvetica Neue';
	display: block;
}

.hexagon {
	fill: none;
	pointer-events: all;
	stroke: 0px;
	z-index: 1;
}

.specificBorder {
	fill: none;
	stroke-width: 2.5px;
	stroke-opacity: 1;
	stroke: #fff;
	pointer-events: none;
}

.districtBorder {
	fill: none;
	stroke: #000;
	stroke-width: 1px;
	stroke-opacity: .2;
	pointer-events: none;
}

.stateBorder {
	fill: none;
	stroke: #000;
	stroke-width: 2px;
	pointer-events: none;
}

.bernieBorder {
	fill: none;
	stroke: #7fff00;
	stroke-width: 2.5px;
	stroke-opacity: 0;
	pointer-events: none;
}
