svg {
  border: 1px solid #f0f;
}

.hexagon {
	fill: white;
	pointer-events: all;
}

.hexagon :hover {
	fill: pink;
}

.hexagon .fill {
	fill: steelblue;
}

.hexMesh {
	fill: none;
	stroke: #000;
	stroke-opacity: 0.2;
	pointer-events: none;
}

.border {
	fill: none;
	stroke: #000;
	stroke-width: 2px;
	pointer-events: none;
}